@model FIT5032_Assign1_v6.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.From_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adult_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adult_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Children_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Children_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomInfor.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomInfor.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
