@model IEnumerable<FIT5032_Assign1_v6.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adult_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Children_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomInfor.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adult_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Children_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomInfor.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
